@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #030015 !important;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  min-height: 100vh;
  overflow-x: clip;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  display: none;
}
* {
  scroll-behavior: smooth;
}

.banner {
  min-height: 100vh;
  width: 100% ;
  background-image: url("../public/Assets/bg.jpeg");
  background-position: center center;
  background-size: cover;
  z-index: 1;
}

@media screen and (max-width: 760px) {
  .banner {
    min-height: unset !important;
  }
}



.shop-banner {
  background-image: url("https://pixner.net/aikeu/assets/images/banner/cmn-bg.png");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  height: 50vh;
}


.sellers-banner {
  background: linear-gradient(132deg, #5fec46 0%, #46e695 100%);
}

.main-create{
  background-image: url(https://images.unsplash.com/photo-1545091741-2231068f3478?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* .create-shop{
  background-image: url(../public/Assets/Logo.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center;
} */